*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  width: 60px;
  height: 60px;
  margin: 10px;
  background-color: $color-tertiary;
  color: $color-primary;
  font-size: 1.5rem;
  outline: none;
  border-radius: 50%;
  // -webkit-box-shadow: 3px 10px 48px -26px rgba(0, 0, 0, 0.69);
  // -moz-box-shadow: 3px 10px 48px -26px rgba(0, 0, 0, 0.69);
  // box-shadow: 3px 10px 48px -26px rgba(0, 0, 0, 0.69);
}

button:hover {
  color: $color-hover;
}
button:active {
  color: $color-secondary;
}
